*{
    font-size: 30px;
}

#Class{
    background: antiquewhite;
}

.classA{
    background: aquamarine;
}

.classA li{
    background: cadetblue;
}

.classB{
    background: bisque;
}

.classB li{
    background: azure;
}