*{
    font-size: 30px;
}

#Class{
    background: antiquewhite;
}

.classA{
    background: aquamarine;
}

.classA li{
    background: cadetblue;
}

.classB{
    background: bisque;
}

.classB li{
    background: azure;
}

/*.classA li:nth-child(odd){*/
/*    font-size: 50px;*/
/*}*/

/*.classB li:first-child{*/
/*    font-size: 50px;*/
/*}*/